<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS file -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/hme.css') }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

    <title>Stock Prediction</title>
</head>

<body>
    <!-- <h1>This is a Stock Prediction Page</h1> -->
    <!-- Navbar-->
   <header class="header">
    	<nav class="navbar navbar-expand-lg fixed-top py-3">
        	<div class="container"><a href="{{url_for('home')}}" class="navbar-brand text-uppercase font-weight-bold">Stock Prediction</a>
            	<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
            
            	<div id="navbarSupportedContent" class="collapse navbar-collapse">
                	<ul class="navbar-nav ml-auto">
                    	<li class="nav-item active"><a href="{{url_for('home')}}" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                    	<li class="nav-item"><a href="{{url_for('about')}}" class="nav-link text-uppercase font-weight-bold">About</a></li>
                    	<li class="nav-item"><a href="{{url_for('news')}}" class="nav-link text-uppercase font-weight-bold">News</a></li>
                    	<li class="nav-item"><a href="{{url_for('search')}}" class="nav-link text-uppercase font-weight-bold">Search</a></li>
                	</ul>
            	</div>
        	</div>
    	</nav>
	</header>
    <br>

    <div class="wrapper">
        <div class="center">
            <h1>Stock Prediction</h1>
            <h2>New to stock market?</h2>
            
            <h2>We are here for you!!!</h2>
            <div class="buttons">
                <button>Explore More</button>
                <button class="btn">Subscribe Us</button>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- JS File -->
    <script>
        $(function () {
            $(window).on('scroll', function () {
                if ($(window).scrollTop() > 10) {
                    $('.navbar').addClass('active');
                } else {
                    $('.navbar').removeClass('active');
                }
            });
        });
    </script>
</body>

</html>