.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: black;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: black;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: black;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.text-small {
    font-size: 0.9rem !important;
}



@keyframes gradientBG{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

.wrapper{
    background: url(Asset/hans-eiskonen-wn57cSQ7VzI-unsplash.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.wrapper .center{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    color: rgb(0,0,0);
    font-size: 50px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2{
    color: rgb(0,0,0);
    font-size: 30px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}

.center .buttons{
    margin: 35px 280px;
}

.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: blue;
    background: lightblue;
    border: 1px solid lightblue;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    transition: .5s;
}

.buttons .btn{
    margin-left: 25px;
}

.buttons button:hover{
    background: lightblue;

}